.imagesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: -10px -15px;
}
.imagesContainer img {
    width: 280px;
    height: 171px;
    padding: 10px 15px;
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .imagesContainer {
        flex-direction: column;
        margin: -15px;
    }
    .imagesContainer img {
        width: 229px;
        height: 142px;
        padding: 15px;
    }
}