.singlePhotoView {
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.imageAndCommentsWrapper {
    display: flex;
    flex-direction: row;
}

.imageAndCommentsWrapper .image {
    width: 60%;
}
.imageAndCommentsWrapper .image img {
    width: 100%;
    height: auto;
    padding: 0;
}

.commentsForm {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.commentsForm input{
    box-sizing: border-box;
    margin: 10px 0;
    padding: 8px 11px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    height: 30px;
}
.commentsForm input[type='submit'] {
    background: #4997D0;
    color: white;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}
input[disabled] {
    cursor: default;
    pointer-events: none;
    background-color: rgba(73,151,208, 0.5) !important;
}

.comments {
    list-style: none;
    margin: 0;
    text-align: left;
    padding: 10px 22px 0 22px;
    font-size: 13px;
    line-height: 15px;
}
.comments li {
    margin: 8px 0;
}
.comments  .name {
    color: #999999;
}

.comments  .comment {
    color: #000000;
    font-weight: bold;
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .singlePhotoView {
        padding: 0;
    }
    .singlePhotoView .image img {
        padding: 0;
        width: 100%;
        height: auto;
    }
    .imageAndCommentsWrapper {
        flex-direction: column;
    }
    .imageAndCommentsWrapper .image {
        width: 100%;
    }
    .commentsForm {
        padding: 15px 22px;
        width: auto;
    }
    .commentsForm input{
        padding: 10px;
    }
}