* {
  margin: 0;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 15px 20px;
  height: calc(100vh - 15px);
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}


header {
  height: 36px;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

footer {
  height: 56px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #CCCCCC;
  justify-content: center;
  border-top: 1px solid #CCCCCC;
  padding: 12px;
  margin-top: 20px;
}

.main {
  flex: 1;
  margin-top: 30px;
}