.modalWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    outline: 0;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0,0,0,.45);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalWrapper .content {
    background-color: white;
    max-width: 80vw;
    max-height: 100vh;
    position: relative;
    overflow: auto;
}

.modalWrapper .closeButton {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 320px) {
    .modalWrapper .content {
        width: 100vw;
        height: 100vh;
    }

}